# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
#
# require both blockchain-team-codeowners and blockchain-team-reviewers to review all PR's not specifically matched below
* @stacks-network/blockchain-team-codeowners @stacks-network/blockchain-team-reviewers

# CI workflows
#  require both blockchain-team-ci and blockchain-team-reviewers teams to review PR's modifying CI workflows
/.github/workflows/ @stacks-network/blockchain-team-ci @stacks-network/blockchain-team-reviewers
/.github/actions/ @stacks-network/blockchain-team-ci @stacks-network/blockchain-team-reviewers
