*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

ignore
secrets*
data

*.pickle
*.pid

# vim
*.swp

#Docker
Docker/blockstore.ini

#Docs
api/templates/index.html
api/data

# testnets
testnet-logs/
testnet.log
testnet/index.html

# virtualenvs
.venv