legacy/* linguist-vendored
# Enforcing 'lf' eol mainly for:
# - 'stx-genesis' package, where txt files need hash computation and comparison
# - 'clarity' package, where clarity language is sensitive to line endings for .clar files
# anyhow, setting eol for all text files to have a homogeneous management over the whole code base
* text eol=lf
