[workspace]
resolver = "2"
members = [
    "stackslib",
    "stacks-common",
    "pox-locking",
    "clarity",
    "stx-genesis",
    "libstackerdb",
    "contrib/tools/relay-server",
    "libsigner",
    "stacks-signer",
    "testnet/stacks-node"]

# Dependencies we want to keep the same between workspace members
[workspace.dependencies]  
wsts = { version = "8.1", default-features = false }
ed25519-dalek = { version = "2.1.1", features = ["serde", "rand_core"] } 
rand_core = "0.6"
rand = "0.8"
rand_chacha = "0.3.1"

# Use a bit more than default optimization for
#  dev builds to speed up test execution
[profile.dev]
opt-level = 1

# Use release-level optimization for dependencies
# This slows down "first" builds on development environments,
#  but won't impact subsequent builds.
[profile.dev.package."*"]
opt-level = 3

[profile.release]
debug = true
codegen-units = 1
lto = "fat"
