# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @jcnelson @kantai @obycode

# Generic file extensions that shouldn't require much scrutiny
*.md @stacks-network/blockchain-team
*.yml @stacks-network/blockchain-team
*.yaml @stacks-network/blockchain-team
*.txt @stacks-network/blockchain-team
*.toml @stacks-network/blockchain-team

# Signer code
libsigner/**/*.rs @jferrant @xoloki @jcnelson @kantai
stacks-signer/**/*.rs @jferrant @xoloki @jcnelson @kantai

## CI workflows
./github/workflows/ @wileyj @CharlieC3
./github/actions/ @wileyj @CharlieC3
