Twisted==14.0.2
coinkit==0.7.7
ecdsa==0.11
gevent==1.0.1
greenlet==0.4.5
kademlia==0.2
lockfile==0.10.2
msgpack-python==0.4.2
pybitcointools==1.1.15
python-bitcoinrpc==0.1
python-daemon==1.6.1
pyzmq==13.1.0
requests==2.5.0
rpcudp==1.0
u-msgpack-python==2.0
utilitybelt==0.2.2
wsgiref==0.1.2
zerorpc==0.4.4
zope.interface==4.1.1
