[package]
name = "stacks-common"
version = "0.0.2"
authors = [
  "Jude Nelson <jude@stacks.org>",
  "Aaron Blankstein <aaron@blockstack.com>",
  "Ludo Galabru <ludovic@blockstack.com>",
]
license = "GPL-3.0-only"
homepage = "https://github.com/blockstack/stacks-blockchain"
repository = "https://github.com/blockstack/stacks-blockchain"
description = "Common modules for stackslib, libclarity"
keywords = ["stacks", "stx", "bitcoin", "crypto", "blockchain"]
readme = "README.md"
resolver = "2"
edition = "2021"

[lib]
name = "stacks_common"
path = "./src/libcommon.rs"

[dependencies]
rand = "0.7.3"
serde = { version = "1", features = ["derive"] }
serde_derive = "1"
sha3 = "0.10.1"
sha2 = "0.10"
ripemd = "0.1.1"
lazy_static = "1.4.0"
percent-encoding = "2.1.0"
slog = { version = "2.5.2", features = ["max_level_trace"], optional = true }
slog-term = { version = "2.6.0", optional = true }
slog-json = { version = "2.3.0", optional = true }
libsecp256k1 = { version = "0.5.0", optional = true }
chrono = "0.4.19"
libc = "0.2.82"
wsts = { workspace = true, optional = true}

[target.'cfg(unix)'.dependencies]
nix = "0.23"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3", features = [
  "consoleapi",
  "handleapi",
  "synchapi",
  "winbase",
] }

[target.'cfg(windows)'.dev-dependencies]
winapi = { version = "0.3", features = ["fileapi", "processenv", "winnt"] }

[dependencies.serde_json]
version = "1.0"
features = ["arbitrary_precision", "unbounded_depth"]

[dependencies.secp256k1]
version = "0.24.3"
features = ["serde", "recovery"]
optional = true

[dependencies.rusqlite]
version = "=0.28.0"
features = ["blob", "serde_json", "i128_blob", "bundled", "trace"]
optional = true

[dependencies.ed25519-dalek]
version = "=1.0.0-pre.3"
features = ["serde"]
optional = true

[dependencies.curve25519-dalek]
version = "=2.0.0"
features = ["serde"]
optional = true

[dependencies.time]
version = "0.2.23"
features = ["std"]

[dev-dependencies]
rstest = "0.11.0"
rstest_reuse = "0.1.3"
assert-json-diff = "1.0.0"
rand_core = "0.6"

[features]
default = ["canonical", "log", "developer-mode"]
canonical = ["vrf", "sqlite", "secp256k1", "wsts"]
log = ["slog", "slog-term", "slog-json"]
sqlite = ["rusqlite"]
vrf = ["ed25519-dalek", "curve25519-dalek"]
wasm = ["libsecp256k1", "developer-mode"]
developer-mode = []
slog_json = ["slog-json"]
testing = ["canonical"]
