[package]
name = "clarity"
version = "2.3.0"
authors = [
  "Jude Nelson <jude@stacks.org>",
  "Aaron Blankstein <aaron@blockstack.com>",
  "Ludo Galabru <ludovic@blockstack.com>",
]
license = "GPL-3.0-only"
homepage = "https://github.com/blockstack/stacks-blockchain"
repository = "https://github.com/blockstack/stacks-blockchain"
description = "Reference implementation of the Clarity virtual machine"
keywords = ["stacks", "stx", "bitcoin", "crypto", "blockchain"]
readme = "README.md"
edition = "2021"
resolver = "2"

[lib]
name = "clarity"
path = "./src/libclarity.rs"

[dependencies]
rand = { workspace = true }
rand_chacha = { workspace = true }
serde = "1"
serde_derive = "1"
serde_stacker = { version = "0.1", optional = true }
regex = "1.9.3"
lazy_static = "1.4.0"
integer-sqrt = "0.1.3"
slog = { version = "2.5.2", features = [ "max_level_trace" ], optional = true }
stacks-common = { path= "../stacks-common", optional = true, default-features = false }
rstest = { version = "0.17.0", optional = true }
rstest_reuse = { version = "0.5.0", optional = true }
wasmtime = { version = "15.0.0", optional = true }
hashbrown = { workspace = true, features = ["serde"] }
getrandom = { version = "0.2", features = ["js"], optional = true}

[dependencies.serde_json]
version = "1.0"
features = ["arbitrary_precision", "unbounded_depth"]

[dependencies.rusqlite]
workspace = true
features = ["blob", "serde_json", "i128_blob", "bundled", "trace"]
optional = true


[dev-dependencies]
assert-json-diff = "1.0.0"
rstest = { version = "0.17.0" }
rstest_reuse = { version = "0.5.0" }
mutants = "0.0.3"
# a nightly rustc regression (35dbef235 2021-03-02) prevents criterion from compiling
#  but it isn't necessary for tests: only benchmarks. therefore, commenting out for now.
# criterion = "0.3"

[features]
default = ["canonical", "log", "clarity-wasm"]
canonical = ["rusqlite", "stacks-common/canonical", "serde_stacker"]
clarity-wasm = ["wasmtime"]
log = ["slog", "stacks-common/log"]
wasm = ["stacks-common/wasm", "developer-mode", "log", "getrandom"]
developer-mode = ["stacks-common/developer-mode"]
slog_json = ["stacks-common/slog_json"]
testing = ["canonical", "rstest", "rstest_reuse"]
devtools = []
rollback_value_check = []
disable-costs = []
