[package]
name = "stacks-node"
version = "0.1.0"
authors = ["Jude Nelson <jude@stacks.org>", "Aaron Blankstein <aaron@blockstack.com>", "Ludo Galabru <ludovic@blockstack.com>"]
edition = "2021"
resolver = "2"
rust-version = "1.61"

[dependencies]
lazy_static = "1.4.0"
pico-args = "0.3.1"
serde = "1"
serde_derive = "1"
serde_json = { version = "1.0", features = ["arbitrary_precision", "raw_value"] }
# stacks = { package = "stackslib", path = "../../stackslib" }
stacks = { package = "stackslib", git = "https://github.com/stacks-network/stacks-core.git", branch = "feat/devnet-wasm-test" }
# stx-genesis = { path = "../../stx-genesis"}
stx-genesis = { git = "https://github.com/stacks-network/stacks-core.git", branch = "feat/devnet-wasm-test" }
toml = "0.5.6"
async-h1 = "2.3.2"
async-std = { version = "1.6", features = ["attributes"] }
http-types = "2.12"
base64 = "0.12.0"
backtrace = "0.3.50"
libc = "0.2"
slog = { version = "2.5.2", features = [ "max_level_trace" ] }
# clarity = { path = "../../clarity" }
clarity = { git = "https://github.com/stacks-network/stacks-core.git", branch = "feat/devnet-wasm-test" }
# stacks-common = { path = "../../stacks-common" }
stacks-common = { git = "https://github.com/stacks-network/stacks-core.git", branch = "feat/devnet-wasm-test" }
chrono = "0.4.19"
regex = "1"
# libsigner = { path = "../../libsigner" }
libsigner = { git = "https://github.com/stacks-network/stacks-core.git", branch = "feat/devnet-wasm-test" }
wsts = { workspace = true }
rand = { workspace = true }
rand_core = { workspace = true }

[dev-dependencies]
ring = "0.16.19"
warp = "0.3.5"
tokio = "1.15"
reqwest = { version = "0.11", default_features = false, features = ["blocking", "json", "rustls", "rustls-tls"] }
# clarity = { path = "../../clarity", features = ["default", "testing"]}
clarity = { git = "https://github.com/stacks-network/stacks-core.git", branch = "feat/devnet-wasm-test", features = ["default", "testing"] }
# stacks-common = { path = "../../stacks-common", features = ["default", "testing"] }
stacks-common = { git = "https://github.com/stacks-network/stacks-core.git", branch = "feat/devnet-wasm-test", features = ["default", "testing"] }
# stacks = { package = "stackslib", path = "../../stackslib", features = ["default", "testing"] }
stacks = { package = "stackslib", git = "https://github.com/stacks-network/stacks-core.git", branch = "feat/devnet-wasm-test", features = ["default", "testing"] }
# stacks-signer = { path = "../../stacks-signer" }
stacks-signer = { git = "https://github.com/stacks-network/stacks-core.git", branch = "feat/devnet-wasm-test" }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
wsts = {workspace = true}

[dependencies.rusqlite]
version = "=0.28.0"
features = ["blob", "serde_json", "i128_blob", "bundled", "trace"]

[[bin]]
name = "stacks-node"
path = "src/main.rs"

[[bin]]
name = "stacks-events"
path = "src/stacks_events.rs"

[features]
monitoring_prom = ["stacks/monitoring_prom"]
slog_json = ["stacks/slog_json", "stacks-common/slog_json", "clarity/slog_json"]
prod-genesis-chainstate = []
default = []

[target.'cfg(all(any(target_arch = "x86_64", target_arch = "x86", target_arch = "aarch64"), not(target_env = "msvc")))'.dependencies]
 sha2 = { version = "0.10", features = ["asm"] }
 
[target.'cfg(any(not(any(target_arch = "x86_64", target_arch = "x86", target_arch = "aarch64")), target_env = "msvc"))'.dependencies]
 sha2 = { version = "0.10" }