commontools>=0.1.0
dnspython>=1.15.0
Flask>=0.12
flask-crossdomain>=0.1
Flask-HTTPS>=0.1.0
Flask-SSLify>=0.1.5
functools32>=3.2.3
jsonschema>=2.6.0
jsontokens>=0.0.2
MarkupSafe>=1.0
pybitcoin>=0.9.9
requests>=2.13.0
simplejson>=3.10.0
urllib3>=1.20
blockstack-profiles>=0.14.1
blockstack-proofs>=0.0.9
blockstack-zones>=0.19.0
pymongo>=3.4.0
