## Main workflow for the stacks-blockchain repository
## The primary purpose of this workflow is to:
##   - confirm rustfmt
##   - conditionally run other reusable workflows based on how this workflow was triggered

name: CI

on:
  push:
    branches:
      - master
      - development
    paths-ignore:
      - "**.md"
      - "**.yml"
  workflow_dispatch:
    inputs:
      tag:
        description: "The tag to create (optional)"
        required: false
  pull_request_target:
    types:
      - opened
      - reopened
      - synchronize
    paths-ignore:
      - "**.md"
      - "**.yml"
    ## might be better to use inclusive v exclusive paths here, ex:
    ## paths:
    ##   - "**.rs"
    ##   - "**.clar"
  pull_request_review:
    types:
      - submitted
    paths-ignore:
      - "**.md"
      - "**.yml"

## Set some defaults for all jobs
defaults:
  run:
    shell: bash

## Concurrency: cancel an in progress workflow
concurrency:
  group: ci-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

run-name: ${{ inputs.tag }}

jobs:
  ##
  ## Jobs to execute everytime workflow runs
  ##   do not run if the trigger is any of the following:
  ##   - PR review submitted (not approved)
  ##   and any of:
  ##     - PR review comment
  ##     - PR change is requested
  rustfmt:
    if: |
      !(
        github.event_name == 'pull_request_review' && 
        github.event.action == 'submitted' && 
        (
          github.event.review.state == 'commented' ||
          github.event.review.state == 'changes_requested'
        )
      )
    name: Rust Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the latest code
        id: git_checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - name: Setup Rust Toolchain
        id: setup_rust_toolchain
        uses: actions-rust-lang/setup-rust-toolchain@f3c84ee10bf5a86e7a5d607d487bf17d57670965 # v1.5.0
        with:
          components: rustfmt
          cache: false

      - name: Rustfmt
        id: rustfmt
        uses: actions-rust-lang/rustfmt@2d1d4e9f72379428552fa1def0b898733fb8472d # v1.1.0

  ######################################################################################
  ## Create a tagged github release
  ##
  ## Runs when the following is true:
  ##  - tag is provided
  ##  - workflow is building default branch (master)
  create-release:
    if: |
      inputs.tag != '' &&
      github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
    name: Create Release
    needs:
      - rustfmt
    uses: stacks-network/stacks-blockchain/.github/workflows/github-release.yml@master
    with:
      tag: ${{ inputs.tag }}
      arch: >-
        ["linux-glibc-x64", "linux-musl-x64", "linux-glibc-arm64", "linux-musl-arm64", "macos-x64", "macos-arm64", "windows-x64"]
    secrets: inherit

  ######################################################################################
  ## Build and push Debian image built from source
  ##
  ## Runs when:
  ##   - tag is not provided
  ##   and the following are not true:
  ##     - PR review submitted (not approved)
  ##     and any of:
  ##       - PR review comment
  ##       - PR change is requested
  docker-image:
    if: |
      inputs.tag == '' &&
      !(
        github.event_name == 'pull_request_review' &&
        github.event.action == 'submitted' &&
        (
          github.event.review.state == 'commented' ||
          github.event.review.state == 'changes_requested'
        )
      )
    name: Docker Image (Source)
    uses: stacks-network/stacks-blockchain/.github/workflows/image-build-debian-source.yml@master
    needs:
      - rustfmt
    secrets: inherit

  ######################################################################################
  ## Create a reusable cache for tests
  ##
  ## Runs when:
  ##   - tag is provided
  ##   or:
  ##     - no tag provided
  ##       and any of:
  ##         - PR is approved (any approval will trigger)
  ##         - this workflow is called manually
  ##         - PR is opened
  ##         - commit to either (development, master) branch
  create-cache:
    if: |
      inputs.tag != '' || (
        inputs.tag == '' && (
          (
            github.event_name == 'pull_request_review' &&
            github.event.action == 'submitted' &&
            github.event.review.state == 'approved'
          ) ||
          github.event_name == 'workflow_dispatch' ||
          github.event_name == 'pull_request_target' ||
          (
            contains('
              refs/heads/develoment
              refs/heads/master
            ', github.event.pull_request.head.ref) &&
            github.event_name == 'push'
          )
        )
      )
    name: Create Test Cache
    needs:
      - rustfmt
    uses: stacks-network/stacks-blockchain/.github/workflows/create_cache.yml@master

  ######################################################################################
  ## Tests to run regularly
  ##
  ## Runs when:
  ##   - tag is provided
  ##   either or of the following:
  ##     - tag is not provided
  ##     - PR is approved
  stacks-blockchain-tests:
    if: |
      inputs.tag != '' || (
        inputs.tag == '' || (
          github.event_name == 'pull_request_review' &&
          github.event.action == 'submitted' &&
          github.event.review.state == 'approved'
        )
      )
    name: Stacks Blockchain Tests
    needs:
      - rustfmt
      - create-cache
    uses: stacks-network/stacks-blockchain/.github/workflows/build-source-binary.yml@master

  bitcoin-tests:
    if: |
      inputs.tag != '' || (
        inputs.tag == '' || (
          github.event_name == 'pull_request_review' &&
          github.event.action == 'submitted' &&
          github.event.review.state == 'approved'
        )
      )
    name: Bitcoin Tests
    needs:
      - rustfmt
      - create-cache
    uses: stacks-network/stacks-blockchain/.github/workflows/image-build-debian-source.yml@master

  ######################################################################################
  ## Test to run on a tagged release
  ##
  ## Runs when:
  ##   - tag is provided
  atlas-tests:
    if: inputs.tag != ''
    name: Atlas Tests
    needs:
      - rustfmt
      - create-cache
    uses: stacks-network/stacks-blockchain/.github/workflows/build-source-binary.yml@master

  epoch-tests:
    if: inputs.tag != ''
    name: Epoch Tests
    needs:
      - rustfmt
      - create-cache
    uses: stacks-network/stacks-blockchain/.github/workflows/build-source-binary.yml@master

  slow-tests:
    if: inputs.tag != ''
    name: Slow Tests
    needs:
      - rustfmt
      - create-cache
    uses: stacks-network/stacks-blockchain/.github/workflows/build-source-binary.yml@master
